
<body>
  <div class="container mt-5">
    <h1 class="text-center">Bienvenido a la Biblioteca Virtual</h1>
    <p class="text-center">
      Descubre una amplia gama de libros disponibles para leer y explorar.
    </p>

    <h2 class="mt-4">Tipos de Libros Ofrecidos</h2>
    <br />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem">
          <img
            src="/portada1.jpg"
            class="card-img-top"
            style="height: 150px"
            alt="portada"
          />
          <div class="card-body">
            <p class="card-text">
              Ficción: novelas y cuentos que desafían la realidad.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem">
          <img
            src="/portada2.jpg"
            class="card-img-top"
            style="height: 150px"
            alt="portada"
          />
          <div class="card-body">
            <p class="card-text">
              Misterio: historias intrigantes llenas de suspenso y sorpresas.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem">
          <img
            src="/portada1.jpg"
            class="card-img-top"
            style="height: 150px"
            alt="portada"
          />
          <div class="card-body">
            <p class="card-text">
              Aventura: relatos emocionantes de viajes y desafíos épicos.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem">
          <img
            src="/portada2.jpg"
            class="card-img-top"
            style="height: 150px"
            alt="portada"
          />
          <div class="card-body">
            <p class="card-text">
              Romance: historias apasionadas sobre el amor y las relaciones.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem">
          <img
            src="/portada3.jpg"
            class="card-img-top"
            style="height: 150px"
            alt="portada"
          />
          <div class="card-body">
            <p class="card-text">
              Ciencia Ficción: impacto de la ciencia y la tecnología.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
